//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//


//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;


//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $verdana; // The font family set on the html element.
$font-body:        $verdana;
$font-monospace:   $courier;


//
// Colors, etc.
//

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// Custom Global Variables:
$global-font: 16px;
$global-width-wide: 1300px;
$global-width-normal: 1000px;
$global-width-tablet: 850px;
$global-width-small-tablet: 720px;
$global-width-iphone: 380px;
$global_background: rgba(5, 42, 110, 1); /* Hex: #052A6E; */
$global-text-color: #fff;
$global-a-color: lighten(rgba(107, 144, 212, 1), 20%); /* Hex: #6B90D4 */;


// Custom Global @mixins
@mixin text-shadows($pixels) {
	text-shadow: 
          $pixels $pixels $pixels lighten($global-text-color, 10%),
          ($pixels+1) ($pixels+1) ($pixels+1) lighten($global-text-color, 10%), /* end of 2 level deep grey shadow */
          ($pixels+2) ($pixels+2) 0 darken($global_background, 20%),
          ($pixels+3) ($pixels+3) 0 darken($global_background, 20%),
          ($pixels+4) ($pixels+4) 0 darken($global_background, 20%),
          ($pixels+5) ($pixels+5) 0 darken($global_background, 20%),
          ($pixels+6) ($pixels+6) 0 darken($global_background, 20%);
    :hover {
    		/* CSS3 Transform Effect */
  	-webkit-transform: scale(120%);     /* Safari & Chrome */
  	-moz-transform: scale(120%);        /* Firefox */
  	-o-transform: scale(120%);          /* Opera */
  	transform: scale(120%);
    		/* CSS3 Transition Effect */
	-webkit-transition: all 0.12s ease-out;		/* Safari & Chrome */
	-moz-transition: all 0.12s ease-out;		/* Firefox */
	-o-transition: all 0.12s ease-out;		/* Opera */
	transition: all 0.12s ease-out;
    }          
}

//
// Partials to be shared with all .scss files.
//

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";              // Add the Zen Grids responsive layout mixins.

@import "custom";           // Import our custom mixins last.


//
//  Defaulting the Box-Shadow
//     box-shadow: 2px 3px 3px lighten($global_background, 10%);

$default-box-shadow-color: lighten($global_background, 10%);
$default-box-shadow-h-offset: 2px;
$default-box-shadow-v-offset: 2px;
$default-box-shadow-blur: 5px;