/**
 * @file
 * Field Styling
 *
 * The Fences module allows site builders to pick the semeantic HTML5 element
 * for each field while editing the field's settings. There's no way a theme
 * can ever know which element to use for the fields on your site, so Zen
 * just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
 * divs around every field (do you?), we highly recommend Fences.
 *
 * http://drupal.org/project/fences
 */

@import "base";


/*
 * Field wrappers when the Fences module is enabled.
 */

.field-label { /* The optional label for a field. */
}

.field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}


/*
 * If you don't use the Fences module, that's fine. Really. I think. Just use
 * these selectors instead:
 */

.field { /* Wrapper for any field. */
}

/*
 * Field types (Core)
 */

.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
}

.field-type-taxonomy-term-reference {
    $node-margin: 8px;
  	$node-padding: 2px;
  	$node-radius: 10px;

    list-style-type: none;
    margin-left:  5%;  // 100% -  5%
    width: 50%;         // 100% - 50%
    @extend %padds;    // 100% - 10% - 10%;
    clear: both;
    color: darken($global-text-color, 5%);
    background-color: darken($global_background, 25%);
  	float: left;
  	@include single-box-shadow;
  	font-size: ($base-font-size * .6);
  	@include border-radius($node-radius);
  
    @media all and (min-width: 960px) {
    	margin-top: $node-margin;
    	margin-bottom: $node-margin;    	    	
    	text-align: center;        	
    	width: 50%;
    	
    	.field-items a {
      		text-align: center;
      		text-decoration: underline;
      		line-height: ($base-line-height*1.25);
      		margin: $node-margin;
      		padding-left: 2%;
      		padding-right: 2%;
    	}
    }

  	@media all and (min-width: 800px) {
    	margin-top: ($node-margin/1.2);
    	margin-bottom: ($node-margin/1.2);  	 	

    	.field-items a {
      	text-decoration: underline;      	
      	margin-right: auto;
    	}
    }

    .field-items a {
    	float: left;  	
    }
     
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */

.field-type-datetime { /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

.field-type-node-reference {
}

.field-type-user-reference {
}

/*
 * Named fields
 */

.field-name-body {
}

.field-name-field-image {
}

.field-name-field-tags {
}

.field-name-field-FIELDNAME { /* Underscores in field name are replaced with dashes. */
}
