/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title, .node li { 
    a {
      color: darken($global-text-color, 40%);
      text-decoration: none;
    }
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
      a, p {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: darken($global-text-color, 5%);
    }
    .inline {
      margin-top: 5px;
    }
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}


/*
* CSS for Google-Prettify Code Snippets
*/

.node code {
  line-height: .4em;
  font-size: .9em;
  font-family: $helvetica;    
  margin-left: auto;
  margin-right: auto;
  
}

/*
* CSS for Facebook 'Like' Custom Module
*/
#facebook td.pls {
  line-height: .4em;
  font-size: .9em;
  font-family: $helvetica;    
  margin-left: auto;
  margin-right: auto;
  color: darken($global-text-color, 5%);
}

/*
* CSS formatting for Taxonomy References (not in fields.css)
*/
.node ul.links {
  clear: both;
}
.node ul.links.inline {
  @extend %padds;
  $node-margin: 8px;
  width: 50%;
  margin-left: 5%;  
  $node-padding: 2px;
  $node-radius: 30px;
  background-color: darken($global_background, 25%);
  float: left;
  @include single-box-shadow;
  font-size: ($base-font-size * .8);
  @include border-radius($node-radius);
  
  @media all and (min-width: 960px) {
    margin-top: $node-margin;
    margin-bottom: $node-margin;        
    text-align: center;    
    @include border-radius($node-radius);    
    a {
      text-decoration: none;
      line-height: ($base-line-height*1.25);      
      padding-left: $node-padding;
      padding-right: $node-padding;      
      border: 1px transparent;
      background-color: $global_background;
      @include border-radius($node-radius);         
    }
  }

  @media all and (min-width: 800px) {
    margin-top: ($node-margin/1.2);
    margin-bottom: ($node-margin/1.2);
       
    a {
      text-decoration: none;   
      margin-right: auto;
    }
  }

}






















