/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* Hex: #052A6E; */
/* Hex: #6B90D4 */
/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 18, ../sass/nodes.scss */
.node .node-title a, .node .node li a {
  color: #999999;
  text-decoration: none;
}
/* line 24, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 27, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 30, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 33, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 36, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}
/* line 37, ../sass/nodes.scss */
.node ul.links a, .node ul.links p {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #f2f2f2;
}
/* line 44, ../sass/nodes.scss */
.node ul.links .inline {
  margin-top: 5px;
}

/* line 51, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 54, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 57, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 60, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 69, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 72, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 75, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 78, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/*
* CSS for Google-Prettify Code Snippets
*/
/* line 88, ../sass/nodes.scss */
.node code {
  line-height: .4em;
  font-size: .9em;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

/*
* CSS for Facebook 'Like' Custom Module
*/
/* line 100, ../sass/nodes.scss */
#facebook td.pls {
  line-height: .4em;
  font-size: .9em;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #f2f2f2;
}

/*
* CSS formatting for Taxonomy References (not in fields.css)
*/
/* line 112, ../sass/nodes.scss */
.node ul.links {
  clear: both;
}

/* line 115, ../sass/nodes.scss */
.node ul.links.inline {
  background-color: rgba(24, 45, 84, 0.7);
  float: left;
  -webkit-box-shadow: 2px 2px 5px rgba(81, 124, 205, 0.7);
  -moz-box-shadow: 2px 2px 5px rgba(81, 124, 205, 0.7);
  box-shadow: 2px 2px 5px rgba(81, 124, 205, 0.7);
  font-size: 12.8px;
}
@media all and (min-width: 960px) {
  /* line 115, ../sass/nodes.scss */
  .node ul.links.inline {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    padding: 2px;
    text-align: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    width: 70%;
  }
  /* line 132, ../sass/nodes.scss */
  .node ul.links.inline a {
    text-decoration: none;
    line-height: 30px;
    margin: 8px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px transparent;
    background-color: rgba(52, 98, 183, 0.7);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 2px 2px 5px rgba(81, 124, 205, 0.7);
    -moz-box-shadow: 2px 2px 5px rgba(81, 124, 205, 0.7);
    box-shadow: 2px 2px 5px rgba(81, 124, 205, 0.7);
  }
}
@media all and (min-width: 800px) {
  /* line 115, ../sass/nodes.scss */
  .node ul.links.inline {
    margin-top: 6.66667px;
    margin-bottom: 6.66667px;
    margin-left: 6.66667px px;
    margin-right: 6.66667px px;
    padding: 1.66667px;
    -webkit-border-radius: 20.83333px;
    -moz-border-radius: 20.83333px;
    -ms-border-radius: 20.83333px;
    -o-border-radius: 20.83333px;
    border-radius: 20.83333px;
  }
  /* line 153, ../sass/nodes.scss */
  .node ul.links.inline a {
    text-decoration: none;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
  }
}
