/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* Hex: #052A6E; */
/* Hex: #6B90D4 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #052a6e;
  color: white;
  font: 16px;
}
/* line 24, ../sass/pages.scss */
body a {
  color: #999999;
}

/* line 29, ../sass/pages.scss */
#page {
  /*
  *  Normal Padding: 960 * 5%
  *  
  */
  padding-right: 5%;
  padding-left: 5%;
  height: auto !important;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 44, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 48, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: global_background;
  color: white;
}

/*
 * Header
 */
/* line 65, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  display: none;
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 71, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 76, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 81, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  color: #f2f2f2;
  margin: 0;
  font-size: 3em;
  line-height: 1.5em;
  text-shadow: 0.5px 0.5px 0.5px white, 1.5px 1.5px 1.5px white, 2.5px 2.5px 0 #01050c, 3.5px 3.5px 0 #01050c, 4.5px 4.5px 0 #01050c, 5.5px 5.5px 0 #01050c, 6.5px 6.5px 0 #01050c;
}
/* line 110, ../sass/_base.scss */
#site-name :hover {
  /* CSS3 Transform Effect */
  -webkit-transform: scale(120%);
  /* Safari & Chrome */
  -moz-transform: scale(120%);
  /* Firefox */
  -o-transform: scale(120%);
  /* Opera */
  transform: scale(120%);
  /* CSS3 Transition Effect */
  -webkit-transition: all 0.12s ease-out;
  /* Safari & Chrome */
  -moz-transition: all 0.12s ease-out;
  /* Firefox */
  -o-transition: all 0.12s ease-out;
  /* Opera */
  transition: all 0.12s ease-out;
}
/* line 89, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #e6e6e6;
  text-decoration: none;
}
/* line 95, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

/* line 100, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
  font-style: italic;
  color: #f9f9f9;
}

/* line 107, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 115, ../sass/pages.scss */
#main {
  overflow: auto;
  padding-bottom: 150px;
}

/*
 * Content
 */
/* line 125, ../sass/pages.scss */
#content h2.node-title {
  color: #f9f9f9;
}

/* line 133, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 134, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 138, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 151, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
  text-shadow: 0.5px 0.5px 0.5px white, 1.5px 1.5px 1.5px white, 2.5px 2.5px 0 #01050c, 3.5px 3.5px 0 #01050c, 4.5px 4.5px 0 #01050c, 5.5px 5.5px 0 #01050c, 6.5px 6.5px 0 #01050c;
  color: #b2c5e9;
}
/* line 110, ../sass/_base.scss */
h1.title :hover,
h2.node-title :hover,
h2.block-title :hover,
h2.title :hover,
h2.comment-form :hover,
h3.title :hover {
  /* CSS3 Transform Effect */
  -webkit-transform: scale(120%);
  /* Safari & Chrome */
  -moz-transform: scale(120%);
  /* Firefox */
  -o-transform: scale(120%);
  /* Opera */
  transform: scale(120%);
  /* CSS3 Transition Effect */
  -webkit-transition: all 0.12s ease-out;
  /* Safari & Chrome */
  -moz-transition: all 0.12s ease-out;
  /* Firefox */
  -o-transition: all 0.12s ease-out;
  /* Opera */
  transition: all 0.12s ease-out;
}

/* line 158, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 162, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 166, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 169, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 175, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 179, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 184, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 187, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 191, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 195, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 198, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 201, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 204, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 207, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 211, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 217, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 221, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 224, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 229, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 232, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 268, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
